
<div *ngIf="jobadvertisment" class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <h2 class="workstarter">{{jobadvertisment.jobname}}</h2>
        </div>
        <div class="col-4 nopaddingright">
            <button type="button"
                    (click)="apply()"
                    class="btn btn-primary savebtn" jhiTranslate="workstarterApp.jobadvertisment.apply">
                <span>apply</span>
            </button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 jobdescription">
            <span class="right">{{jobadvertisment.location}}</span>
            <h2><span jhiTranslate="workstarterApp.jobadvertisment.lookingfor">We are looking for an </span>{{jobadvertisment.title}}</h2>
            <p></p>
            <p>{{jobadvertisment.description}}</p>
            <p></p>
            <h2 class="subline2" jhiTranslate="workstarterApp.jobadvertisment.necessaryskills">Necessary skills</h2>
            <p class="subline2" >{{jobadvertisment.tasks}}</p>
            <h2 class="subline2" jhiTranslate="workstarterApp.jobadvertisment.yourtasks">Your tasks:</h2>
            <p class="subline2">{{jobadvertisment.exercises}}</p>


            <button class="iconButton" (click)='edit("editJobs", student, profession.id)'>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>

<!--<button type="submit"
                (click)="previousState()"
                class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>-->
