<div [ngClass]="{'isMyAccount': isMyAccount }"> 
    <div class="container" *ngIf="companyAdmin">


        <div class="profilheader row justify-content-center">
            <div class="col-3">
                <div class="profile-img">
                    <img src="{{companyAdmin.imageUrl}}">
                </div>
            </div>
            <div class="profil-content col-7">
                <!--<h1>{{companyAdmin.company.companyname}}</h1>
                <h2>{{companyAdmin.firstName}} {{companyAdmin.lastName}}</h2>

                <div class="cvSlogan">
                    <p>{{companyAdmin.company.slogan}}</p>
                </div>
                <a>{{companyAdmin.company.website}}</a>
                <span>{{companyAdmin.company.size}}</span>
                <span>{{companyAdmin.company.sector}}</span>-->
                
                <h1>Daimler Benz</h1>
                <h2>Simon Binder</h2>

                <div class="cvSlogan">
                    <p>Die Daimler AG ist eines der erfolgreichsten Automobilunternehmen der Welt. Mit den Geschäftsfeldern Mercedes-Benz Cars, Daimler Trucks, Mercedes-Benz Vans, Daimler Buses und Daimler Financial Services gehört der Fahrzeughersteller zu den größten Anbietern von Premium-Pkw und ist der größte weltweit aufgestellte Nutzfahrzeug-Hersteller. Daimler Financial Services bietet Finanzierung, Leasing, Flottenmanagement, Versicherungen, Geldanlagen und Kreditkarten sowie innovative Mobilitätsdienstleistungen an.</p>
                </div>
                <a class="piano">www.daimler.de/karriere</a>
                <p class="piano">Unternehmensgröße: 100.000 Mitarbeiter</p>
                <p class="piano" >Branche: Automobilunternehmen</p>





            </div> <!-- profil-content -->

        </div> <!-- profilheader -->

            <div class="carrier row justify-content-center">
                <div class="jobAdvertisements col-10"> <!--*ngFor="let jobAd of jobAdvertisements">-->
                    <div class="jobAd" (click)="selectJob(jobAd.id)">
                        <!--<h2>{{jobAd.title}}</h2>
                        <span>{{jobAd.task}}</span>
                        <span>{{jobAd.location}}</span>-->

                        <span class="loud">Frontend-Entwickler</span>
                        <span class="piano">Programmieren und Designen</span>
                        <span>Stuttgart</span>
                    </div>
                    <div class="jobAd" (click)="selectJob(jobAd.id)">
                        

                        <span class="loud">Frontend-Entwickler</span>
                        <span class="piano">Programmieren und Designen</span>
                        <span>Stuttgart</span>
                    </div>

                </div>

            </div> <!-- carrier -->
    </div>
</div> <!-- isMyAccount -->