<div [ngClass]="{'isMyAccount': isMyAccount }"> 
    <div class="container" *ngIf="companyAdmin">


        <div class="profilheader row justify-content-center">
            <div class="col-3">
                <div class="profile-img">
                    <img *ngIf="companyAdmin.imageUrl" src="{{companyAdmin.imageUrl}}">
                </div>
            </div>
            <div class="profil-content col-7">

                <button *ngIf="isMyAccount" class="iconButton" (click)='edit("editCompany", companyAdmin, -1)'>
                    <span class="fa fa-pencil"></span>
                </button>
                
                <h1>{{companyAdmin.company.companyName}}</h1>
                <h2>{{companyAdmin.firstName}} {{companyAdmin.lastName}}</h2>

                <div class="cvSlogan">
                    <p>{{companyAdmin.company.description}}</p>
                </div>
                <a class="piano">{{companyAdmin.company.domain}}</a>
                <p class="piano"><span jhiTranslate="workstarterApp.companyAdmin.companysize">Companysize: </span>100.000<span jhiTranslate="workstarterApp.companyAdmin.employees"> employees</span></p>
                <p class="piano"><span jhiTranslate="workstarterApp.companyAdmin.sector">Sector: </span>{{companyAdmin.company.sector}}</p>





            </div> <!-- profil-content -->

        </div> <!-- profilheader -->

            <div class="carrier row justify-content-center">
                <div id="buttoncontainer" class="col-10" *ngIf="isMyAccount" >
                <button class="iconButton" (click)='addJob()'>
                    <span class="fa fa-plus"></span>
                </button>
                </div>
                <div class="jobAdvertisements col-10" *ngFor="let jobAd of companyAdmin.company.jobs">
                    <div class="jobAd row" [routerLink]="['../../jobadvertisment', jobAd.id, 'ca', companyAdmin.id]">

                        <span class="col-4 loud">{{jobAd.jobname}}</span>
                        <span class="col-4 piano aligncenter">{{jobAd.title}}</span>
                        <span class="col-4 alignright" >{{jobAd.location}}</span>
                    </div>

                </div>

            </div> <!-- carrier -->
    </div>
</div> <!-- isMyAccount -->