$main1-color: #f15f79;
$main2-color: #b24592;
$main-color: #CF4E87; /*#bf4b6e;*/
$font-color: #000;
$middle-grey: #a09d9e;
$light-grey: #f2f2f2;


h1
{
    font-weight: 600;
    font-size: 2.2rem;
    color: $main-color;
    margin: 0;
}

h2
{
    font-weight: 600;
    font-size: 1rem;
    color: $font-color;
    margin: 0;
}

.subline1
{
    color: $main-color;
    font-weight: 400;
}

.subline2
{
    color: $middle-grey;
}

.container
{
    width: 96% !important;
    font-size: normal;
}

.profilheader
{
    /* TODO: Must be changed in responsiv */
    padding-top: 20px;
    padding-bottom: 20px;


    .profile-img {
        width: 200px;
        height: 200px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        border: solid 1px $main-color;
        float: right;

        background: url("../../../content/images/octopusProfil.png") no-repeat center center;
        background-size: 170px;
    
        img
        {   
            height: 100%;
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }

    .profil-content
    {
        padding-top: 20px;
        padding-bottom: 20px;

        .cvSlogan
        {
            min-height: 110px;
        }

        h2{

            margin-bottom: 20px;
        }
    }
}


.carrier
{
    padding-top: 30px;

    .jobAd
    {
        border: solid 1px $middle-grey;
        border-radius: 5px;
        width: 100%;
        padding: 0.5rem 0.75rem;

        overflow: auto;
        margin-bottom: 5px;
        cursor: pointer;
    }

    .jobAd:hover
    {
        border-color: $main-color;
    }
}

.piano
{
    color: $middle-grey !important;
    margin: 0;
}

.loud
{
    font-weight: bold;
}

.small-card
{
    font-size: 0.8rem;
    float: left;
    padding: 2px 4px;
    border: solid 1px $main-color;
    border-radius: 5px;
    margin: 3px;
}

.greyedout
{
    border-color: $middle-grey !important;
    background: $light-grey !important;
    color: $middle-grey !important;
}

.small-card:hover
{
    background: $light-grey;
}

.small-card-reverse
{
    font-size: 0.8rem;
    float: left;
    padding: 2px 6px;
    background: $main-color;
    border-radius: 5px;
    margin: 3px;
    color: white;
}

.aligncenter
{
    text-align: center;
}

.alignright
{
    text-align: right;
}




