<div class="editView">
<div class="modal-header">
    <h2 class="modal-title" >{{editComponent}}</h2>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">

        
        <div class="col-md-12">
            <div [ngSwitch]="editComponent">
                <student-editJobs    *ngSwitchCase="'editJobs'" [_student]="student" [_componentId]="componentId"></student-editJobs>
                <student-editSchools    *ngSwitchCase="'editSchools'" [_student]="student" [_componentId]="componentId"></student-editSchools>
                <student-editPresentation    *ngSwitchCase="'editPresentation'" [_student]="student" [_componentId]="componentId"></student-editPresentation>
                <student-editKeywords    *ngSwitchCase="'editKeywords'"></student-editKeywords>
                <unknown-edit  *ngSwitchDefault></unknown-edit>
            </div>
            <p></p>
            
        </div>
    </div>
</div>
</div> <!-- editView -->
