<div class="editView">
<div class="modal-header">
    <h2 class="modal-title" jhiTranslate="editView.title">Edit Jobs</h2>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">

        
        <div class="col-md-12">
            <student-editJobs></student-editJobs>
            <p></p>
            
        </div>
    </div>
</div>
</div> <!-- editView -->
