

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProjectLabel" jhiTranslate="workstarterApp.project.home.createOrEditLabel">Create or edit a Project</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!project.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="project.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="workstarterApp.project.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="project.title"
            required />
            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="workstarterApp.project.year" for="field_year">Year</label>
            <div class="input-group">
                <input id="field_year" type="text" class="form-control" name="year" ngbDatepicker  #yearDp="ngbDatepicker" [(ngModel)]="project.year"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="yearDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.year?.dirty && editForm.controls.year?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.year?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="workstarterApp.project.imageUrl" for="field_imageUrl">Image Url</label>
            <input type="text" class="form-control" name="imageUrl" id="field_imageUrl"
                [(ngModel)]="project.imageUrl"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="workstarterApp.project.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="project.description"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="workstarterApp.project.link" for="field_link">Link</label>
            <input type="text" class="form-control" name="link" id="field_link"
                [(ngModel)]="project.link"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="workstarterApp.project.context" for="field_context">Context</label>
            <input type="text" class="form-control" name="context" id="field_context"
                [(ngModel)]="project.context"
            required />
            <div [hidden]="!(editForm.controls.context?.dirty && editForm.controls.context?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.context?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="workstarterApp.project.portfolio" for="field_portfolio">Portfolio</label>
            <select class="form-control" id="field_portfolio" name="portfolio" [(ngModel)]="project.portfolio" >
                <option [ngValue]="null"></option>
                <option [ngValue]="portfolioOption.id === project.portfolio?.id ? project.portfolio : portfolioOption" *ngFor="let portfolioOption of portfolios; trackBy: trackPortfolioById">{{portfolioOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
