<div>
    <h2>
        <span jhiTranslate="workstarterApp.qualification.home.title">Qualifications</span>
        <button class="btn btn-primary float-right create-qualification" [routerLink]="['/', { outlets: { popup: ['qualification-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="workstarterApp.qualification.home.createLabel">
            Create new Qualification
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12 no-padding-right">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'workstarterApp.qualification.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="qualifications">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="workstarterApp.qualification.name">Name</span></th>
            <th><span jhiTranslate="workstarterApp.qualification.description">Description</span></th>
            <th><span jhiTranslate="workstarterApp.qualification.resume">Resume</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let qualification of qualifications ;trackBy: trackId">
                <td><a [routerLink]="['../qualification', qualification.id ]">{{qualification.id}}</a></td>
                <td>{{qualification.name}}</td>
                <td>{{qualification.description}}</td>
                <td>
                    <div *ngIf="qualification.resume">
                        <a [routerLink]="['../resume', qualification.resume?.id ]" >{{qualification.resume?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../qualification', qualification.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'qualification/'+ qualification.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'qualification/'+ qualification.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
