<form class="form" role="form" (ngSubmit)="save()">
    
    <div class="form-group">
        <label for="firstName" jhiTranslate="editView.form.companyAdmin.person">Your Person</label>
        <input type="text" class="form-control" name="Whats your firstName" id="firstName" placeholder="{{'editView.form.companyAdmin.firstName' | translate}}"
        [(ngModel)]="companyAdmin.firstName">
        <input type="text" class="form-control" name="Whats your lastName" id="lastName" placeholder="{{'editView.form.companyAdmin.lastName' | translate}}"
        [(ngModel)]="companyAdmin.lastName">
        <input type="text" class="form-control" name="Where are you stationated" id="location" placeholder="{{'editView.form.companyAdmin.location' | translate}}"
        [(ngModel)]="companyAdmin.location">
    </div>
    
    <div class="form-group">
        <label for="companyName" jhiTranslate="editView.form.companyAdmin.company">Your Company</label>
        <input type="text" class="form-control" name="Name of your company" id="companyName" placeholder="{{'editView.form.companyAdmin.companyName' | translate}}"
        [(ngModel)]="companyAdmin.company.companyName">
        <input type="text" class="form-control" name="Company domain" id="domain" placeholder="{{'editView.form.companyAdmin.domain' | translate}}"
        [(ngModel)]="companyAdmin.company.domain">
        <input type="text" class="form-control" name="Please describe your company" id="description" placeholder="{{'editView.form.companyAdmin.description' | translate}}"
        [(ngModel)]="companyAdmin.company.description">
        <input type="text" class="form-control" name="Sector of your company" id="sector" placeholder="{{'editView.form.companyAdmin.sector' | translate}}"
        [(ngModel)]="companyAdmin.company.sector">
        <input type="text" class="form-control" name="Size of your company" id="size" placeholder="{{'editView.form.companyAdmin.size' | translate}}"
        [(ngModel)]="companyAdmin.company.address">
    </div>


    <button type="submit" class="btn btn-primary savebtn" jhiTranslate="editView.button.save">Save</button>
   
</form>
