<form class="form" role="form" (ngSubmit)="save()">
    <div class="form-group">
        <label for="position" jhiTranslate="editView.form.jobs.position">Position</label>
        <input type="text" class="form-control" name="position" id="position" placeholder="{{'editView.form.jobs.position' | translate}}"
        [(ngModel)]="position">
        <input type="text" class="form-control" name="careerlevel" id="careerlevel" placeholder="{{'editView.form.jobs.careerlevel' | translate}}"
        [(ngModel)]="careerlevel">
        <input type="text" class="form-control" name="describtion" id="describtion" placeholder="{{'editView.form.jobs.describtion' | translate}}"
        [(ngModel)]="describtion">
    </div>
    <div class="form-group">
        <label for="companyname" jhiTranslate="editView.form.jobs.company">Company</label>
        <input type="text" class="form-control" name="Company name" id="companyname" placeholder="{{'editView.form.jobs.companyname' | translate}}"
                [(ngModel)]="companyname">
        <input type="text" class="form-control" name="Company domain" id="companydomain" placeholder="{{'editView.form.jobs.companydomain' | translate}}"
        [(ngModel)]="companydomain">
        <input type="text" class="form-control" name="Company industry" id="companyindustry" placeholder="{{'editView.form.jobs.companyindustry' | translate}}"
        [(ngModel)]="companyindustry">
        <input type="text" class="form-control" name="Company location" id="companylocation" placeholder="{{'editView.form.jobs.companylocation' | translate}}"
        [(ngModel)]="companylocation">
    </div>


    <button type="submit" class="btn btn-primary savebtn" jhiTranslate="editView.button.save">Save</button>
    <button click="delete()" class="btn btn-primary deletebtn" jhiTranslate="editView.button.delete">Delete</button>
    
</form>