<form class="form" role="form" (ngSubmit)="save()">
    
    <div class="form-group">
        <label for="name" jhiTranslate="editView.form.schools.school">Your School</label>
        <input type="text" class="form-control" name="School name" id="name" placeholder="{{'editView.form.schools.name' | translate}}"
        [(ngModel)]="school.name">
        <input type="text" class="form-control" name="Schools location" id="location" placeholder="{{'editView.form.schools.location' | translate}}"
        [(ngModel)]="school.location">
    </div>
    
    <div class="form-group">
        <label for="targetDegree" jhiTranslate="editView.form.schools.targetDegree">Target Degree</label>
        <input type="text" class="form-control" name="Target Degree" id="targetDegree" placeholder="{{'editView.form.schools.targetDegree' | translate}}"
        [(ngModel)]="school.targetDegree">
        <input type="text" class="form-control" name="coreSubject" id="coreSubject" placeholder="{{'editView.form.schools.coreSubject' | translate}}"
        [(ngModel)]="school.coreSubject">
    </div>

    <div class="form-group">
        <label for="date" jhiTranslate="editView.form.schools.date">Date</label>
        <input type="text" class="form-control" name="When did it start?" id="start" placeholder="{{'editView.form.schools.start' | translate}}"
        [(ngModel)]="school.start">
        <input type="text" class="form-control" name="When did it end?" id="end" placeholder="{{'editView.form.schools.end' | translate}}"
        [(ngModel)]="school.end">
    </div>
    
    


    <button type="submit" class="btn btn-primary savebtn" jhiTranslate="editView.button.save">Save</button>
    <button type="button" (click)="delete()" class="btn btn-primary deletebtn" jhiTranslate="editView.button.delete">Delete</button>
    
</form>
