
<div *ngIf="school">
    <h2><span jhiTranslate="workstarterApp.school.detail.title">School</span> {{school.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="workstarterApp.school.name">Name</span></dt>
        <dd>
            <span>{{school.name}}</span>
        </dd>
        <dt><span jhiTranslate="workstarterApp.school.address">Address</span></dt>
        <dd>
            <span>{{school.address}}</span>
        </dd>
        <dt><span jhiTranslate="workstarterApp.school.coreSubjects">Core Subjects</span></dt>
        <dd>
            <span>{{school.coreSubjects}}</span>
        </dd>
        <dt><span jhiTranslate="workstarterApp.school.resume">Resume</span></dt>
        <dd>
            <div *ngIf="school.resume">
                <a [routerLink]="['/resume', school.resume?.id]">{{school.resume?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'school/'+ school.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
