.roleSelect
{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    width: 100%;
    font-weight: normal;
    font-family: sans-serif;
    color: #464a4c;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}