<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/">
      <span class="logo"></span>
  </a>
  <div  id="navbarNavDropdown" class="navbar-collapse collapse">
    <form class="form-inline">
        <div class="input-group">
            <input class="form-control" type="text" [(ngModel)]="currentSearch" name="currentSearch" id="currentSearch" placeholder="{{ 'global.menu.search' | translate }}">
            <span class="input-group-btn">
                <button class="btn btn-secondary gobtn" (click)="redirect()" type="submit">
                    <span class="fa fa-search"></span>
                </button>
            </span>
        </div>
    </form>
    
    <ul class="navbar-nav ml-auto" [ngSwitch]="isAuthenticated()">
        <li class="nav-item" *ngSwitchCase="false">
            <a class="nav-link" (click)="login()">Login</a>
        </li>
        <li class="nav-item" *ngSwitchCase="true">
            <a class="nav-link" (click)="logout()">Logout</a>
        </li>
        <li>
            <div>
                <li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown" *ngIf="languages.length > 1">
                        <span>
                            <i class="fa fa-flag" aria-hidden="true"></i>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu *ngIf="languages.length > 1">
                        <li *ngFor="let language of languages">
                            <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
            </div>
        </li>
    </ul>
    
    </div>
</nav>