<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
      <span class="logo"></span>
  </a>
  <div  id="navbarNavDropdown" class="navbar-collapse collapse">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>


    
    <ul class="navbar-nav ml-auto" [ngSwitch]="isAuthenticated()">
        <li class="nav-item" *ngSwitchCase="false">
            <a class="nav-link" (click)="login()">Login</a>
        </li>
        <li class="nav-item" *ngSwitchCase="true">
            <a class="nav-link" (click)="logout()">Logout</a>
        </li>
    </ul>
    </div>
</nav>