
/* ==========================================================================
Navbar
========================================================================== 
.navbar-version {
    font-size: 10px;
    color: #ccc
}

.jh-navbar {
    background-color: #353d47;
    padding: .2em 1em;
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .dropdown-item.active, .dropdown-item.active:focus, .dropdown-item.active:hover {
        background-color: #353d47;
    }
    .dropdown-toggle::after {
        margin-left: 0.15em;
    }
    ul.navbar-nav {
        padding: 0.5em;
        .nav-item {
            margin-left: 1.5rem;
        }
    }
    a.nav-link {
        font-weight: 400;
    }
    .jh-navbar-toggler {
        color: #ccc;
        font-size: 1.5em;
        padding: 10px;
        &:hover {
            color: #fff;
        }
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

==========================================================================
Logo styles
========================================================================== 
.navbar-brand {
    &.logo {
        padding: 5px 15px;
        .logo-img {
            height: 45px;
            width: 70px;
            display: inline-block;
            vertical-align: middle;
            background: url("../../../content/images/logo-jhipster.png") no-repeat center center;
            background-size: contain;
        }
    }
}
*/



.navbar
{
  background: #f15f79; /* fallback for old browsers */
  background: -webkit-linear-gradient(left, #f15f79, #b24592);
  background: -moz-linear-gradient(left, #f15f79, #b24592);
  background: -o-linear-gradient(left, #f15f79, #b24592);
  background: linear-gradient(to right, #f15f79, #b24592); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */padding: 0 1rem;
  margin-bottom: 8px;
}

.navbar a, .navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.active {
  color: white;
}

.btn-outline-secondary
{
  color: white;
  border-color: white;
}

.logo {
    height: 35px;
    width: 70px;
    display: inline-block;
    vertical-align: middle;
    background: url("../../../content/images/octopusWhite.png") no-repeat center center;
    background-size: contain;
    margin-top: 4px;
    margin-bottom: 4px;
}
