
/* ==========================================================================
Main page styles
========================================================================== */
/*
.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/hipster.png") no-repeat center top;
    background-size: contain;
}
*/
/* wait autoprefixer update to allow simple generation of high pixel density media query *//*
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../../content/images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}
*/
$main-color: #CF4E87; /*#bf4b6e;*/
$font-color: #000;
$font1-color: #464a4c;
$light-grey: #f2f2f2;

.home
{
    margin-top: 50px;
}

.octopussy 
{
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/octopusyPink.png") no-repeat center top;
    background-size: contain;

    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);


    -webkit-transition: all .8s;
    -moz-transition: all .8s;
}

.octopussy:hover
{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);


    -webkit-transition: all .8s;
    -moz-transition: all .8s;
}


.home
{
    padding-top: 1.5%;

    .textblock
    {
        text-align: right;
        padding-right: 30px;
        margin-top: 40px;

        .btn
        {
            margin-top: 20px;
            padding: 15px 45px;
            font-size: 0.8rem;
            border-radius: 300px;
            border: 1px solid;
            text-transform: uppercase;
            -webkit-transition: all .35s;
            -moz-transition: all .35s;
            transition: all .35s;
            color: $main-color;
        }

        .btn:hover
        {
            background-color: $main-color;
            color: #fff;
        }
    }
}
