<div class="home">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1>Workstarter is an great platform that will help you beautifully showcase your curriculum vitae to any companies!</h1>
                <a routerLink="register" class="btn btn-outline btn-xl page-scroll">Start Now for Free!</a>
            </div>
            <div class="col-sm-5">
                <span class="octopussy"></span>
            </div>
        </div>
    </div>
</div>