
/* ==========================================================================
Main page styles
========================================================================== */
/*
.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/hipster.png") no-repeat center top;
    background-size: contain;
}
*/
/* wait autoprefixer update to allow simple generation of high pixel density media query *//*
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../../content/images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}
*/

.octopussy 
{
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/octopusy.svg") no-repeat center top;
    background-size: contain;
}

.btn
{
    padding: 15px 45px;
font-size: 11px;
border-radius: 300px;
color: #fff;
border: 1px solid;
font-family: Lato, Helvetica, Arial, sans-serif;
text-transform: uppercase;
letter-spacing: 2px;
-webkit-transition: all .35s;
-moz-transition: all .35s;
transition: all .35s;
color: #fdcc52;
}
