<div class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-1 textblock">
                <h1 jhiTranslate="home.slogan">Workstarter is a great platform that will help you beautifully showcase your curriculum vitae to any companies!</h1>
                <a jhiTranslate="home.register" routerLink="register" class="btn btn-outline btn-xl page-scroll">Start Now for Free!</a>
            </div>
            <div class="col-md-4">
                <span class="octopussy"></span>
            </div>
        </div>
    </div>
</div>