<div [ngClass]="{'isMyAccount': isMyAccount }"> 
    <div class="container" *ngIf="student">


        <div class="profilheader row justify-content-center">
            <div class="col-3">
                <div class="profile-img">
                    <img *ngIf="student.imageUrl" src="{{student.imageUrl}}">
                    <span (click)="imageupload.click()" *ngIf="isMyAccount" class="imageedit"></span>
                </div>
            </div>
            <input id="imageupload" #imageupload type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".jpg,.png,.docx">
            <div class="profil-content col-7">
                <button *ngIf="isMyAccount" class="iconButton" (click)='edit("editPresentation", student, -1)'>
                    <span class="fa fa-pencil"></span>
                </button>
                <button *ngIf="!isMyAccount" class="iconButton">
                    <span class="fa fa-envelope"></span>
                </button>
                <h1>{{student.firstName}} {{student.lastName}}</h1>
                <h2>{{student.title}}</h2>
                <div class="cvSlogan">
                    <p>{{student.slogan}}</p>
                </div>

                <div class="cvTags">
                    <div *ngIf="isEmpty(student.keywords)" class="small-card greyedout">
                        <span> add some keywords </span>
                    </div>
                    <div class="small-card" *ngFor="let keyword of student.keywords">
                        <span>{{keyword.name}}</span>
                    </div>
                </div>

            </div> <!-- profil-content -->

        </div> <!-- profilheader -->

            <div class="carrier row justify-content-center">

                <div class="cvJobs col-5">
                    <div class="jobTitle">
                        <h2>Education</h2>
                        <button *ngIf="isMyAccount" class="iconButton pulsButton" (click)='edit("editSchools", student, -1)'>
                            <span class="fa fa-plus"></span>
                        </button>
                    </div>
                    <div class="window">
                        <div class="jobList" *ngFor="let school of student.schools">
                            <div class="eduTime small-card-reverse">
                                <p>{{formatDate(school.start)}}</p>
                            </div>
                            <div class="jobDescription">
                                <button *ngIf="isMyAccount" class="iconButton" (click)='edit("editSchools", student, school.id)'>
                                    <span class="fa fa-pencil"></span>
                                </button>
                                <h2>{{school.fieldOfStudy}}</h2>
                                <p class="subline1">{{school.name}} in {{school.location}}</p>
                                <p class="subline2" *ngIf="notNull(school.targetDegree)">{{school.targetDegree}}</p>
                                <p class="tasks">{{school.coreSubject}}</p>
                            </div>
                        </div>
                    </div> <!-- window -->
                </div> <!-- Education -->

                <div class="cvJobs col-5">
                    <div class="jobTitle">
                        <h2>Jobs</h2>
                        <button *ngIf="isMyAccount" class="iconButton pulsButton" (click)='edit("editJobs", student, -1)'>
                            <span class="fa fa-plus"></span>
                        </button>
                    </div>
                    <div class="window">
                        <div class="jobList" *ngFor="let profession of student.professions">
                            <div class="eduTime small-card-reverse">
                                <p>{{formatDate(profession.startDate)}}</p>
                            </div>
                            <div class="jobDescription">
                                <button *ngIf="isMyAccount" class="iconButton" (click)='edit("editJobs", student, profession.id)'>
                                    <span class="fa fa-pencil"></span>
                                </button>
                                <h2>{{profession.position}}</h2>
                                <p class="subline1">{{profession.companyName}} in {{profession.location}}</p>
                                <a class="subline2" href="{{profession.domain}}">{{profession.domain}}</a>
                                <p class="tasks">{{profession.tasks}}</p>
                            </div>
                        </div>

                    </div> <!-- window -->
                </div> <!-- Jobs -->


                <div class="portfolio cvJobs col-10">
                    <div class="jobTitle">
                        <h2>Portfolio</h2>
                        <button *ngIf="isMyAccount" class="iconButton pulsButton" (click)='edit("editProject", student, -1)'>
                            <span class="fa fa-plus"></span>
                        </button>
                    </div>
                    <div class="project window row" *ngFor="let project of student.projects">
                          
                        <span class="col-3 image">
                            <div class="project-img">
                                <img *ngIf="project.imageUrl" src="{{project.imageUrl}}">
                            </div>
                        </span>
                        <span class="col-8 description">
                            <h2>{{project.title}}</h2>
                            <p class="subline1">{{project.context}}, {{year}}</p>
                            <p class="aboutproject">{{project.description}}</p>
                            </span>
                        <span class="col-1 buttonarea" >
                            <button *ngIf="isMyAccount" class="iconButton" (click)='edit("editProject", student, project.id)'>
                                    <span class="fa fa-pencil"></span>
                            </button>
                            <button class="iconButton downloadButton">
                                    <i class="fa fa-download" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                    </div> <!-- window -->
                </div> <!-- Portfolio -->

            </div> <!-- carrier -->


    </div>

</div> <!-- isMyAccount -->