<div class="container" *ngIf="student">

    <div class="contact">

        <div *ngIf="contactTel != null">
            <a class="contact-tel" href="#">
                {{contactTel}}
            </a>
        </div>

        <div *ngIf="contactMes != null" >
            <a class="contact-mes" href="#">
                mail
            </a>
        </div>

    </div>

    <div class="centered-box profilheader">
        <div class="profile-img">
            <img src="{{student.imageUrl}}">
        </div>
        <h1>{{student.firstName}} {{student.lastName}}</h1>
        <p>{{status}}</p>
    </div>


    <div class="spruch"></div>

    <div class="row">
        <div class="col-6 gives">
            <div class="small-card" *ngFor="let give of gives">
                <span>{{give}}</span>
            </div>
        </div>
        <div class="col-6 searches">
            <div class="small-card" *ngFor="let search of searches">
                <span>{{search}}</span>
            </div>
        </div>
    </div>


</div>