<div [ngClass]="{'isMyAccount': isMyAccount }"> 
    <div class="container" *ngIf="student">


        <div class="profilheader row justify-content-center">
            <div class="col-3">
                <div class="profile-img">
                    <img *ngIf="student.imageUrl" src="{{student.imageUrl}}">
                </div>
            </div>
            <div class="profil-content col-7">
                <button *ngIf="isMyAccount" class="iconButton" (click)='edit("editPresentation", student, -1)'>
                    <span class="fa fa-pencil"></span>
                </button>
                <h1>{{student.firstName}} {{student.lastName}}</h1>
                <h2>{{student.title}}</h2>
                <div class="cvSlogan">
                    <p>{{student.slogan}}</p>
                </div>

                <div class="cvTags">
                    <div *ngIf="isEmpty(student.keywords)" class="small-card greyedout">
                        <span> add some keywords </span>
                    </div>
                    <div class="small-card" *ngFor="let keyword of student.keywords">
                        <span>{{keyword.name}}</span>
                    </div>
                </div>

            </div> <!-- profil-content -->

        </div> <!-- profilheader -->

            <div class="carrier row justify-content-center">

                <div class="cvJobs col-5">
                    <div class="jobTitle">
                        <h2>Education</h2>
                        <button *ngIf="isMyAccount" class="iconButton" (click)='edit("editSchools", student, -1)'>
                            <span class="fa fa-plus"></span>
                        </button>
                    </div>
                    <div class="window">
                        <div class="jobList" *ngFor="let school of student.schools">
                            <div class="eduTime small-card-reverse">
                                <p>{{formatDate(school.start)}}</p>
                            </div>
                            <div class="jobDescription">
                                <button *ngIf="isMyAccount" class="iconButton" (click)='edit("editSchools", student, school.id)'>
                                    <span class="fa fa-pencil"></span>
                                </button>
                                <h2>{{school.fieldOfStudy}}</h2>
                                <p class="subline1">{{school.name}} in {{school.location}}</p>
                                <p class="subline2" *ngIf="notNull(school.targetDegree)">{{school.targetDegree}}</p>
                                <p class="tasks">{{school.coreSubject}}</p>
                            </div>
                        </div>
                    </div> <!-- window -->
                </div> <!-- Education -->

                <div class="cvJobs col-5">
                    <div class="jobTitle">
                        <h2>Jobs</h2>
                        <button *ngIf="isMyAccount" class="iconButton" (click)='edit("editJobs", student, -1)'>
                            <span class="fa fa-plus"></span>
                        </button>
                    </div>
                    <div class="window">
                        <div class="jobList" *ngFor="let profession of student.professions">
                            <div class="eduTime small-card-reverse">
                                <p>{{formatDate(profession.startDate)}}</p>
                            </div>
                            <div class="jobDescription">
                                <button *ngIf="isMyAccount" class="iconButton" (click)='edit("editJobs", student, profession.id)'>
                                    <span class="fa fa-pencil"></span>
                                </button>
                                <h2>{{profession.position}}</h2>
                                <p class="subline1">{{profession.companyName}} in {{profession.location}}</p>
                                <a class="subline2" href="{{profession.domain}}">{{profession.domain}}</a>
                                <p class="tasks">{{profession.tasks}}</p>
                            </div>
                        </div>

                    </div> <!-- window -->
                </div> <!-- Jobs -->

            </div> <!-- carrier -->


    </div>

</div> <!-- isMyAccount -->